@import url('../bootstrap-5.3.2-dist/css/bootstrap.css');
@import url('carousel.css');
@import url('carousel.rtl.css');
@import url('sign-in.css');

body{
    margin: 0;
    padding: 0;
}
.carousel-caption > h2 {
    color: black;
}
